<div class="search-container">
  <h1 class="search-title">{{ label }}</h1>
  <form class="search-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        formControlName="searchQuery"
        placeholder="Search for movies..."
        appTrim
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="search-button"
    >
      Search
    </button>
  </form>
</div>
