/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #2d2d2d;
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-align: center;
    padding: 20px;
}